* {
    margin: 0%;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-bottom: 20px;
    margin-left: 19%;
    margin-right: 19%;
}

input {
    padding: 10px;
    width: 24%;
    margin: 5px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #00ff99;
}

.submit-button, .update-button {
    padding: 10px;
    background-color: #00ff99;
    box-shadow: 1px 1px 5px black;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.submit-button:hover, .update-button:hover {
    background-color: #00cc77;
    box-shadow: none;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #1e1e1e;
    color: white;
}

th, td {
    border: 0.1px solid white;
    padding: 10px;
}

th {
    background-color: #00ff99;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.actions-container {
    display: flex;
    justify-content: center;
}

.action-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.action-btn:hover {
    cursor: pointer;
}

.header {
    background-color: #00cc77;
    color: white;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.contact-form {
    color: #00ff99;
    border: 1px solid #00ff99;
    margin-top: 3%;
    padding: 20px 0px;
    border-radius: 10px;
}